---
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: ForIndentation
ColumnLimit: 120
AccessModifierOffset: -1
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
BinPackArguments: true
BinPackParameters: true
PointerAlignment: Right
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None
FixNamespaceComments: true
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: false
Cpp11BracedListStyle: true
Standard: Cpp17
